@import '../../assets/sass/colors.scss';

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid $backgroundLightGrey;
    align-items: center;
    border-radius: 6px;

    .mtt-icon {
        margin: 0rem 1rem;
    }

    .rbt {
        & > div {
            &:focus {
                outline: none;
            }
        }

        input, input:focus {
            border: none;
            outline: none;
            font-size: 1.25rem;
            padding: 1rem;
            padding-right: 16rem;
            width: 100%;
        }
    }

    .rbt-menu.dropdown-menu.show {
        background-color: white;
        padding: 1rem;
        box-sizing: border-box;
        box-shadow: 0px 22px 16px -10px rgba(0,0,0,0.25);

        .dropdown-item {
            color: black;
            text-decoration: none;

            &:hover {
                background-color: $backgroundLightGrey;
            }
        }

        .disabled:hover {
            background-color: white;
            cursor: default;
        }
    }
}