@import './colors.scss';

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background: $backgroundGrey;
    margin: 0;
}

html, body, textarea {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

a:hover {
    color: $mintGreen;
}

:focus {
    outline: none;
}