@import '../../assets/sass/colors.scss';

.new-lead-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    padding-top: 0;
    height: 90%;
    overflow: auto;
}

.new-lead-inputs {
    display: flex;
    flex-direction: column;
    width: 45%;
}