@import '../../../assets/sass/colors.scss';

.mtt-button {
    margin: .5rem 1rem;

    .MuiButton-root {
        padding: .5rem 1.5rem;
        text-transform: none;
        font-size: 1rem;
    }

    &.primary .MuiButton-root {
        cursor: pointer;
        color: white;
        background-color: $mintGreen;

        &:hover {
            background-color: darken($mintGreen, 5%);
        }
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
}